# Google Gemini API Key
# Get from: https://makersuite.google.com/app/apikey
GOOGLE_API_KEY=AIzaSyCLaIRprOOVmdGun4OyLMDTuc6ygtiznDU

# Pinecone API Key
# Get from: https://app.pinecone.io/
PINECONE_API_KEY=pcsk_4r4CaY_MyCSAE2HsstaTAd5HLPqndKLonNfCH9ya7qYT6Sum1pL5Yv82PGxd1JuJKv1hpm
